#prompt {
    #instruction {
        margin: 10px 0;
    }

    #prompt-buttons {
        margin-bottom: 10px;
    }

    button {
        margin-left: 10px;
    }
    
    #console-input {
        width: 240px;
    }
}